@model FinalProjectConsume.Models.Brand.BrandCreate

<div class="container" style="margin-left:300px; margin-top:50px;">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" type="file" class="form-control" accept=".jpg,.jpeg,.png,.svg" id="imageInput" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imageInput = document.getElementById("imageInput");

        imageInput.addEventListener("change", function () {
            const allowedTypes = ["image/jpeg", "image/png", "image/svg+xml"];
            const file = this.files[0];

            if (file && !allowedTypes.includes(file.type)) {
                alert("Only JPG, PNG və SVG ");
                this.value = ""; 
            }
        });
    });
</script>