<!-- Search Section Start -->
<div class="header-search-bar d-flex align-items-center">
    <button class="search-close">×</button>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="search-bar">
                    <div class="contact-form-box contact-search-form-box">
                        <form action="#">
                            <input type="email" placeholder="Search here...">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                        <p>Type above and press Enter to search. Press Close to cancel.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Breadcrumb Section Start -->
<div class="breadcrumb-wrapper section-padding  bg-cover" style="background-image: url('~/assets/img/breadcrumb-bg.jpg');">
    <div class="container-fluid">
        <div class="page-heading">
            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li>
                    <i class="far fa-slash"></i>
                </li>
                <li>
                    Listing Sidebar
                </li>
            </ul>
            <h1 class="wow fadeInUp" data-wow-delay=".5s">Listing Sidebar</h1>
        </div>
    </div>
    <div class="plane-shape float-bob-x">
        <img src="~/assets/img/breadcrumb-plane.png" alt="img">
    </div>
</div>

<!-- Amazing Tour Section Start -->
<section class="amazing-tour-section section-padding">
    <div class="container">
        <div class="amazing-tour-wrapper">
            <div class="row g-4">
                <div class="col-xl-3 col-lg-4">
                    <div class="tour-sidebar-area sticky-style">
                        <div class="tour-destination-sidebar">
                            <div class="booking-list-area">
                                <div class="booking-list">
                                    <div class="icon">
                                        <img src="~/assets/img/hero/location.png" alt="img">
                                    </div>
                                    <div class="content">
                                        <h5>Destination</h5>
                                        <div class="form-clt">
                                            <div class="form">
                                                <select class="single-select w-100">
                                                    <option>Your city or Region</option>
                                                    <option>Australia</option>
                                                    <option>India</option>
                                                    <option>Italy</option>
                                                    <option>Japan</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-list">
                                    <div class="icon">
                                        <img src="~/assets/img/hero/location.png" alt="img">
                                    </div>
                                    <div class="content">
                                        <h5>All Activity</h5>
                                        <div class="form-clt">
                                            <div class="form">
                                                <select class="single-select w-100">
                                                    <option>Choose Activity</option>
                                                    <option> Activity 01</option>
                                                    <option> Activity 02</option>
                                                    <option> Activity 03</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-list">
                                    <div class="icon">
                                        <img src="~/assets/img/hero/location.png" alt="img">
                                    </div>
                                    <div class="content">
                                        <h5>Departure Date</h5>
                                        <div class="form-clt">
                                            <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                                <input class="form-control" type="text" placeholder="Date Form" readonly="">
                                                <span class="input-group-addon"><i class="far fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-list style-2">
                                    <div class="icon">
                                        <img src="~/assets/img/hero/location.png" alt="img">
                                    </div>
                                    <div class="content">
                                        <h5>Guest</h5>
                                        <div class="form-clt">
                                            <div class="form">
                                                <select class="single-select w-100">
                                                    <option> Your Guest</option>
                                                    <option>  Guest 01</option>
                                                    <option> Guest 02</option>
                                                    <option> Guest 03</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tour-sidebar-widget">
                                    <div class="wid-title">
                                        <h3>Filter by Price</h3>
                                    </div>
                                    <div class="price-range-wrapper">
                                        <div class="slider-container">
                                            <!-- Range sliders -->
                                            <input type="range" id="min-slider" class="slider" min="130" max="500"
                                                   value="130">
                                            <input type="range" id="max-slider" class="slider" min="130" max="500"
                                                   value="250">
                                        </div>
                                        <div class="price-text pt-4 d-flex gap-3">
                                            <label for="amount">Price:</label>
                                            <input type="text" id="amount" readonly style="border:0;">
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="tour-sidebar-widget">
                                    <div class="wid-title">
                                        <h3>Amenities</h3>
                                    </div>
                                    <div class="checkbox-items">
                                        <label class="checkbox-single">
                                            <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                <span class="checkbox-area d-center">
                                                    <input type="checkbox">
                                                    <span class="checkmark d-center"></span>
                                                </span>
                                                <span class="text-color">
                                                    Car Parking
                                                </span>
                                            </span>
                                        </label>
                                        <label class="checkbox-single">
                                            <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                <span class="checkbox-area d-center">
                                                    <input type="checkbox">
                                                    <span class="checkmark d-center"></span>
                                                </span>
                                                <span class="text-color">
                                                    Accepts Credit Cards
                                                </span>
                                            </span>
                                        </label>
                                        <label class="checkbox-single">
                                            <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                <span class="checkbox-area d-center">
                                                    <input type="checkbox">
                                                    <span class="checkmark d-center"></span>
                                                </span>
                                                <span class="text-color">
                                                    Free Coupons
                                                </span>
                                            </span>
                                        </label>
                                        <label class="checkbox-single">
                                            <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                <span class="checkbox-area d-center">
                                                    <input type="checkbox">
                                                    <span class="checkmark d-center"></span>
                                                </span>
                                                <span class="text-color">
                                                    Laundry Service
                                                </span>
                                            </span>
                                        </label>
                                        <label class="checkbox-single">
                                            <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                <span class="checkbox-area d-center">
                                                    <input type="checkbox">
                                                    <span class="checkmark d-center"></span>
                                                </span>
                                                <span class="text-color">
                                                    Outdoor Seating
                                                </span>
                                            </span>
                                        </label>
                                        <label class="checkbox-single">
                                            <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                <span class="checkbox-area d-center">
                                                    <input type="checkbox">
                                                    <span class="checkmark d-center"></span>
                                                </span>
                                                <span class="text-color">
                                                    Reservations
                                                </span>
                                            </span>
                                        </label>
                                        <label class="checkbox-single mb-0">
                                            <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                <span class="checkbox-area d-center">
                                                    <input type="checkbox">
                                                    <span class="checkmark d-center"></span>
                                                </span>
                                                <span class="text-color">
                                                    Wireless Internet
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="search-widget">
                                    <form action="#">
                                        <button type="submit" class="theme-btn"><span>Search</span><i class="fal fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="popular-posts">
                                <div class="single-post-item">
                                    <div class="thumb bg-cover" style="background-image: url('assets/img/tour/post-1.jpg');"></div>
                                    <div class="post-content">
                                        <div class="star">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="tour-details.html"> Explore Scenic Beaches</a></h5>

                                        <p>
                                            Fromb <b> $129.00 </b>
                                        </p>
                                    </div>
                                </div>
                                <div class="single-post-item">
                                    <div class="thumb bg-cover" style="background-image: url('assets/img/tour/post-2.jpg');"></div>
                                    <div class="post-content">
                                        <div class="star">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="tour-details.html">Tour Beaches Explore </a></h5>
                                        <p>
                                            Fromb <b> $129.00 </b>
                                        </p>
                                    </div>
                                </div>
                                <div class="single-post-item">
                                    <div class="thumb bg-cover" style="background-image: url('assets/img/tour/post-3.jpg');"></div>
                                    <div class="post-content">
                                        <div class="star">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="tour-details.html">Beaches Tour Enjoy</a></h5>
                                        <p>
                                            Fromb <b> $129.00 </b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="row g-4">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="amazing-tour-items mt-0">
                                <div class="thumb">
                                    <div class="post-box">
                                        <h4>$333</h4>
                                        <span>/ person</span>
                                    </div>
                                    <img src="~/assets/img/tour/07.jpg" alt="img">
                                    <div class="list-items">
                                        <h6>FEATURED</h6>
                                        <ul class="popup-icon">
                                            <li>
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-buttton video-popup">
                                                    <i class="far fa-video"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="assets/img/tour/07.jpg" class="img-popup">
                                                    <i class="far fa-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="tour-details.html">Explore the Bustling Streets and Temples in Bangkok</a>
                                    </h4>
                                    <span class="location-icon">
                                        <i class="far fa-map-marker-alt"></i>
                                        132, Tic St, Wingston, New York 12401
                                    </span>
                                    <a href="tour-details.html" class="theme-btn">
                                        <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="amazing-tour-items mt-0">
                                <div class="thumb">
                                    <div class="post-box">
                                        <h4>$565</h4>
                                        <span>/ person</span>
                                    </div>
                                    <img src="~/assets/img/tour/08.jpg" alt="img">
                                    <div class="list-items">
                                        <h6>FEATURED</h6>
                                        <ul class="popup-icon">
                                            <li>
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-buttton video-popup">
                                                    <i class="far fa-video"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="assets/img/tour/08.jpg" class="img-popup">
                                                    <i class="far fa-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="tour-details.html">Acropolis, Parthenon, Plaka District 3 Day Athens Tour</a>
                                    </h4>
                                    <span class="location-icon">
                                        <i class="far fa-map-marker-alt"></i>
                                        132, Tic St, Wingston, New York 12401
                                    </span>
                                    <a href="tour-details.html" class="theme-btn">
                                        <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="amazing-tour-items mt-0">
                                <div class="thumb">
                                    <div class="post-box">
                                        <h4>$290</h4>
                                        <span>/ person</span>
                                    </div>
                                    <img src="~/assets/img/tour/09.jpg" alt="img">
                                    <div class="list-items">
                                        <h6>FEATURED</h6>
                                        <ul class="popup-icon">
                                            <li>
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-buttton video-popup">
                                                    <i class="far fa-video"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="assets/img/tour/09.jpg" class="img-popup">
                                                    <i class="far fa-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="tour-details.html">Step Back in Time at Ancient Ruins in Rome, Italy</a>
                                    </h4>
                                    <span class="location-icon">
                                        <i class="far fa-map-marker-alt"></i>
                                        132, Tic St, Wingston, New York 12401
                                    </span>
                                    <a href="tour-details.html" class="theme-btn">
                                        <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="amazing-tour-items mt-0">
                                <div class="thumb">
                                    <div class="post-box">
                                        <h4>$565</h4>
                                        <span>/ person</span>
                                    </div>
                                    <img src="~/assets/img/tour/10.jpg" alt="img">
                                    <div class="list-items">
                                        <h6>FEATURED</h6>
                                        <ul class="popup-icon">
                                            <li>
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-buttton video-popup">
                                                    <i class="far fa-video"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="assets/img/tour/10.jpg" class="img-popup">
                                                    <i class="far fa-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="tour-details.html">Explore Scenic Beaches and Temples in Bali, Indonesia</a>
                                    </h4>
                                    <span class="location-icon">
                                        <i class="far fa-map-marker-alt"></i>
                                        132, Tic St, Wingston, New York 12401
                                    </span>
                                    <a href="tour-details.html" class="theme-btn">
                                        <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="amazing-tour-items mt-0">
                                <div class="thumb">
                                    <div class="post-box">
                                        <h4>$855</h4>
                                        <span>/ person</span>
                                    </div>
                                    <img src="~/assets/img/tour/11.jpg" alt="img">
                                    <div class="list-items">
                                        <h6>FEATURED</h6>
                                        <ul class="popup-icon">
                                            <li>
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-buttton video-popup">
                                                    <i class="far fa-video"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="assets/img/tour/11.jpg" class="img-popup">
                                                    <i class="far fa-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="tour-details.html">Marvel at Majestic Mountains and Lakes in Banff, Canada</a>
                                    </h4>
                                    <span class="location-icon">
                                        <i class="far fa-map-marker-alt"></i>
                                        132, Tic St, Wingston, New York 12401
                                    </span>
                                    <a href="tour-details.html" class="theme-btn">
                                        <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="amazing-tour-items mt-0">
                                <div class="thumb">
                                    <div class="post-box">
                                        <h4>$636</h4>
                                        <span>/ person</span>
                                    </div>
                                    <img src="~/assets/img/tour/16.jpg" alt="img">
                                    <div class="list-items">
                                        <h6>FEATURED</h6>
                                        <ul class="popup-icon">
                                            <li>
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-buttton video-popup">
                                                    <i class="far fa-video"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="assets/img/tour/16.jpg" class="img-popup">
                                                    <i class="far fa-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="tour-details.html">Romance and Charm Await in Paris, France</a>
                                    </h4>
                                    <span class="location-icon">
                                        <i class="far fa-map-marker-alt"></i>
                                        132, Tic St, Wingston, New York 12401
                                    </span>
                                    <a href="tour-details.html" class="theme-btn">
                                        <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="amazing-tour-items mt-0">
                                <div class="thumb">
                                    <div class="post-box">
                                        <h4>$336</h4>
                                        <span>/ person</span>
                                    </div>
                                    <img src="~/assets/img/tour/17.jpg" alt="img">
                                    <div class="list-items">
                                        <h6>FEATURED</h6>
                                        <ul class="popup-icon">
                                            <li>
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-buttton video-popup">
                                                    <i class="far fa-video"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="assets/img/tour/17.jpg" class="img-popup">
                                                    <i class="far fa-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="tour-details.html">Explore Scenic Beaches and Temples in Bali, Indonesia</a>
                                    </h4>
                                    <span class="location-icon">
                                        <i class="far fa-map-marker-alt"></i>
                                        132, Tic St, Wingston, New York 12401
                                    </span>
                                    <a href="tour-details.html" class="theme-btn">
                                        <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="amazing-tour-items mt-0">
                                <div class="thumb">
                                    <div class="post-box">
                                        <h4>$636</h4>
                                        <span>/ person</span>
                                    </div>
                                    <img src="~/assets/img/tour/18.jpg" alt="img">
                                    <div class="list-items">
                                        <h6>FEATURED</h6>
                                        <ul class="popup-icon">
                                            <li>
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-buttton video-popup">
                                                    <i class="far fa-video"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="assets/img/tour/18.jpg" class="img-popup">
                                                    <i class="far fa-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="tour-details.html">Acropolis, Parthenon, Plaka District 3 Day Athens Tour</a>
                                    </h4>
                                    <span class="location-icon">
                                        <i class="far fa-map-marker-alt"></i>
                                        132, Tic St, Wingston, New York 12401
                                    </span>
                                    <a href="tour-details.html" class="theme-btn">
                                        <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="amazing-tour-items mt-0">
                                <div class="thumb">
                                    <div class="post-box">
                                        <h4>$436</h4>
                                        <span>/ person</span>
                                    </div>
                                    <img src="~/assets/img/tour/19.jpg" alt="img">
                                    <div class="list-items">
                                        <h6>FEATURED</h6>
                                        <ul class="popup-icon">
                                            <li>
                                                <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-buttton video-popup">
                                                    <i class="far fa-video"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="assets/img/tour/19.jpg" class="img-popup">
                                                    <i class="far fa-camera"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="tour-details.html">Romance and Charm Await in Paris, France</a>
                                    </h4>
                                    <span class="location-icon">
                                        <i class="far fa-map-marker-alt"></i>
                                        132, Tic St, Wingston, New York 12401
                                    </span>
                                    <a href="tour-details.html" class="theme-btn">
                                        <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-nav-wrap mt-5 text-center wow fadeInUp" data-wow-delay=".3s">
                        <ul>
                            <li><a class="page-numbers" href="#">01</a></li>
                            <li><a class="page-numbers" href="#">02</a></li>
                            <li><a class="page-numbers" href="#">03</a></li>
                            <li><a class="page-numbers" href="#">04</a></li>
                            <li><a class="page-numbers" href="#">05</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>