@model FinalProjectConsume.Models.ChooseUsAbout.ChooseUsAboutEdit

@{
    ViewData["Title"] = "Choose Us About Edit";
}
<div class="container" style="margin-left:300px; margin-top:50px;">


<h2>@ViewData["Title"]</h2>


<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Subtitle"></label>
        <input asp-for="Subtitle" class="form-control" />
        <span asp-validation-for="Subtitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Desc"></label>
        <textarea asp-for="Desc" class="form-control"></textarea>
        <span asp-validation-for="Desc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubDesc"></label>
        <textarea asp-for="SubDesc" class="form-control"></textarea>
        <span asp-validation-for="SubDesc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" type="file" class="form-control-file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
</div>