@model FinalProjectConsume.ViewModels.UI.TourDetailVM

<!-- Search Section Start -->
<div class="header-search-bar d-flex align-items-center">
    <button class="search-close">×</button>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="search-bar">
                    <div class="contact-form-box contact-search-form-box">
                        <form action="#">
                            <input type="email" placeholder="Search here...">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                        <p>Type above and press Enter to search. Press Close to cancel.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Breadcrumb Section Start -->
<div class="breadcrumb-wrapper section-padding  bg-cover" style="background-image: url('assets/img/breadcrumb-bg.jpg');">
    <div class="container-fluid">
        <div class="page-heading">
            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li>
                    <i class="far fa-slash"></i>
                </li>
                <li>
                    Listing Details
                </li>
            </ul>
            <h1 class="wow fadeInUp" data-wow-delay=".5s">Listing Details</h1>
        </div>
    </div>
    <div class="plane-shape float-bob-x">
        <img src="assets/img/breadcrumb-plane.png" alt="img">
    </div>
</div>

<!--  Tour Details Section Start -->
<section class="tour-details-section section-padding">
    <div class="container">
        <div class="tour-details-wrapper">
            <div class="row g-5">
                <div class="col-xl-8 col-lg-7">
                    <div class="tour-details-items">
                        <div class="details-thumb">
                            <img src="assets/img/tour/details-1.jpg" alt="img">
                        </div>
                        <div class="details-content">
                            <span class="location-icon">
                                <i class="far fa-map-marker-alt"></i>
                               @Model.Tour.Name
                            </span>
                            <h2>
                                @Model.Tour.CityNames
                            </h2>
                            <p>
                                @Model.Tour.Desc
                            </p>
                            <div class="destination-list-item">
                                <h4>
                                    Experience the Difference
                                </h4>
                                <div class="destination-list">
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-check"></i>
                                            Trusted, Local Travel Experts
                                        </li>
                                        <li>
                                            <i class="flaticon-check"></i>
                                            Flexible, Hassle-Free Bookings
                                        </li>
                                        <li>
                                            <i class="flaticon-check"></i>
                                            Real-Time Itinerary Updates
                                        </li>
                                    </ul>
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-check"></i>
                                            Flexible Cancellation Policies
                                        </li>
                                        <li>
                                            <i class="flaticon-check"></i>
                                            Customized Travel Experiences
                                        </li>
                                        <li>
                                            <i class="flaticon-check"></i>
                                            Exclusive Travel Deals
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tour-details-icon">
                                <div class="row g-5 justity-content-end">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="icon">
                                            <i class="flaticon-connection"></i>
                                            <h5>Use Free Wi-Fi</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="icon">
                                            <i class="flaticon-cyber-security"></i>
                                            <h5>Special Security</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="icon">
                                            <i class="flaticon-guide"></i>
                                            <h5>Special Guiding</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="icon">
                                            <i class="flaticon-gym"></i>
                                            <h5>Gym Center</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="icon">
                                            <i class="flaticon-cycling"></i>
                                            <h5>Special Security</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="icon">
                                            <i class="flaticon-hiking"></i>
                                            <h5>Special Security</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="icon">
                                            <i class="flaticon-googles"></i>
                                            <h5>Swimming & Fishing</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="icon">
                                            <i class="flaticon-solar-system"></i>
                                            <h5>Solar Energy Syster</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-items">
                                <h4>Tour Plan</h4>
                                <div class="faq-accordion">
                                    <div class="accordion" id="accordion2">
                                        <div class="accordion-item mb-3">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
                                                    <span>Day 1:</span>  Arrive South Africa Forest
                                                </button>
                                            </h5>
                                            <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                                <div class="accordion-body">
                                                    If you are going There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteradution in some form by injected humour, or randomised words which don't look even slightly believable. If you are going
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item mb-3">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                                                    <span>Day 2:</span> Lunch Inside of Forest & Adventure
                                                </button>
                                            </h5>
                                            <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                                <div class="accordion-body">
                                                    If you are going There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteradution in some form by injected humour, or randomised words which don't look even slightly believable. If you are going
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item mb-3">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                                                    <span>Day 3:</span>  Lunch Inside of Forest & Adventure
                                                </button>
                                            </h5>
                                            <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                                <div class="accordion-body">
                                                    If you are going There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteradution in some form by injected humour, or randomised words which don't look even slightly believable. If you are going
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h5 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                                                    <span>Day 4:</span>   We Will Go Back to Canda
                                                </button>
                                            </h5>
                                            <div id="faq4" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                                                <div class="accordion-body">
                                                    If you are going There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteradution in some form by injected humour, or randomised words which don't look even slightly believable. If you are going
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="map-area">
                                <h3>
                                    View in Map
                                </h3>
                                <div class="google-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6678.7619084840835!2d144.9618311901502!3d-37.81450084255415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b4758afc1d%3A0x3119cc820fdfc62e!2sEnvato!5e0!3m2!1sen!2sbd!4v1641984054261!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                            <div class="review-area">
                                <h3>
                                    Customer Reviews
                                </h3>
                                <div class="courses-reviews-box-items">
                                    <div class="courses-reviews-box">
                                        <div class="reviews-box">
                                            <h2><span class="odometer" data-count="4.9">00</span></h2>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <p>856+ Reviews</p>
                                        </div>
                                        <div class="reviews-ratting-right">
                                            <div class="reviews-ratting-item">
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-value style-two"></div>
                                                </div>
                                                <span>Services</span>
                                            </div>
                                            <div class="reviews-ratting-item">
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-value style-three"></div>
                                                </div>
                                                <span>Safety</span>
                                            </div>
                                            <div class="reviews-ratting-item">
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-value style-three"></div>
                                                </div>
                                                <span>Guides</span>
                                            </div>
                                            <div class="reviews-ratting-item">
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-value style-four"></div>
                                                </div>
                                                <span>Foods</span>
                                            </div>
                                            <div class="reviews-ratting-item">
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-value style-five"></div>
                                                </div>
                                                <span>Hotels</span>
                                            </div>
                                            <div class="reviews-ratting-item">
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-value style-five"></div>
                                                </div>
                                                <span>Places</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-review-items">
                                <h3>Clients Reviews</h3>
                                <div class="clinet-box-items">
                                    <div class="clinet-box">
                                        <div class="star">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5>
                                            "Our family trip was amazing from start to finish! The itinerary was perfect, the guides were knowledgeable, and the service was excellent. I can’t wait to book our next adventure!"
                                        </h5>
                                        <div class="review-wrap-area d-flex gap-4 align-items-center">
                                            <div class="review-thumb">
                                                <img src="assets/img/tour/client.png" alt="img">
                                            </div>
                                            <div class="review-content">
                                                <div class="head-area d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                                    <div class="cont">
                                                        <h5>Smith Thomas</h5>
                                                        <span>from New York, USA</span>
                                                    </div>
                                                    <h6><a href="#">Reply</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clinet-box style-2">
                                        <div class="star">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5>
                                            The itinerary was perfect, the guides were knowledgeable, and the service was excellent. I can’t wait to book our next adventure!"
                                        </h5>
                                        <div class="review-wrap-area d-flex gap-4 align-items-center">
                                            <div class="review-thumb">
                                                <img src="assets/img/tour/client.png" alt="img">
                                            </div>
                                            <div class="review-content">
                                                <div class="head-area d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                                    <div class="cont">
                                                        <h5>Smith Thomas</h5>
                                                        <span>from New York, USA</span>
                                                    </div>
                                                    <h6><a href="#">Reply</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clinet-box-3">
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <h5>
                                        "Our family trip was amazing from start to finish! The itinerary was perfect, the guides were knowledgeable, and the service was excellent. I can’t wait to book our next adventure!"
                                    </h5>
                                    <div class="review-wrap-area d-flex gap-4 align-items-center">
                                        <div class="review-thumb">
                                            <img src="assets/img/tour/client.png" alt="img">
                                        </div>
                                        <div class="review-content">
                                            <div class="head-area d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                                <div class="cont">
                                                    <h5>Smith Thomas</h5>
                                                    <span>from New York, USA</span>
                                                </div>
                                                <img src="assets/img/tour/quote.png" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review-comment-items">
                                <h3>Add Your Reviews</h3>
                                <ul>
                                    <li>
                                        Services
                                        <div class="star">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </li>
                                    <li>
                                        Hotel
                                        <div class="star">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </li>
                                    <li>
                                        Places
                                        <div class="star">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="mb-0">
                                    <li>
                                        Safety
                                        <div class="star">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </li>
                                    <li>
                                        Foods
                                        <div class="star">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </li>
                                    <li>
                                        Guides
                                        <div class="star">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </li>
                                </ul>
                                <h4>Leave Feedback</h4>
                                <form action="#" id="contact-form" method="POST">
                                    <div class="row g-4">
                                        <div class="col-lg-6">
                                            <div class="form-clt">
                                                <input type="text" name="name" id="name" placeholder="Your name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-clt">
                                                <input type="text" name="phone" id="phone" placeholder="Your phone">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-clt">
                                                <input type="text" name="email2" id="email21" placeholder="Your email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-clt">
                                                <textarea name="message" id="message" placeholder="Your comments..."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <button type="submit" class="theme-btn text-center">
                                                <span>Submit Reviews</span> <i class="far fa-long-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="tour-details-sidebar sticky-style">
                        <div class="tour-sidebar-items">
                            <h3>Tour Booking</h3>
                            <ul class="form-list">
                                <li>
                                    From Date:
                                    <div class="form-clt">
                                        <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                            <input class="form-control" type="text" placeholder="mm/dd/yyyy" readonly>
                                            <span class="input-group-addon"><i class="far fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    Time:
                                    <div class="form-clt d-flex gap-3">
                                        <label class="checkbox-single">
                                            <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                <span class="checkbox-area d-center">
                                                    <input type="checkbox">
                                                    <span class="checkmark d-center"></span>
                                                </span>
                                                <span class="text-color">
                                                    12:00
                                                </span>
                                            </span>
                                        </label>
                                        <label class="checkbox-single">
                                            <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                <span class="checkbox-area d-center">
                                                    <input type="checkbox">
                                                    <span class="checkmark d-center"></span>
                                                </span>
                                                <span class="text-color">
                                                    10:00
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            <div class="tickets-list">
                                <p>Tickets</p>
                                <ul>
                                    <li>
                                        18+ Years: <b>$168</b>
                                        <div class="form-clt">
                                            <div class="form">
                                                <select class="single-select w-100">
                                                    <option> 01</option>
                                                    <option> 02</option>
                                                    <option> 03</option>
                                                    <option> 04</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        18- Years: <b>$100</b>
                                        <div class="form-clt">
                                            <div class="form">
                                                <select class="single-select w-100">
                                                    <option> 01</option>
                                                    <option> 02</option>
                                                    <option> 03</option>
                                                    <option> 04</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="extra-items">
                                <p>Add Extra:</p>
                                <label class="checkbox-single d-flex justify-content-between align-items-center">
                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                        <span class="checkbox-area d-center">
                                            <input type="checkbox">
                                            <span class="checkmark d-center"></span>
                                        </span>
                                        <span class="text-color">
                                            Add service per booking
                                        </span>
                                    </span>
                                    <span class="text-color">$45</span>
                                </label>
                                <label class="checkbox-single d-flex justify-content-between align-items-center">
                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                        <span class="checkbox-area d-center">
                                            <input type="checkbox">
                                            <span class="checkmark d-center"></span>
                                        </span>
                                        <span class="text-color">
                                            Add service per personal
                                        </span>
                                    </span>
                                    <span class="text-color">$35</span>
                                </label>
                            </div>
                            <ul class="total-list">
                                <li>
                                    Total:
                                </li>
                                <li>
                                    $80
                                </li>
                            </ul>
                            <a href="tour-details.html" class="theme-btn">
                                <span>Book Now</span> <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                        <div class="offer-card bg-cover" style="background-image: url('assets/img/destinations/offter-card.jpg');">
                            <h3>Book Now and Enjoy Amazing Savings!</h3>
                            <img src="assets/img/destinations/disocunt.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
